<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SalesforceLoginSuite" verbose="1" parallel="none">

    <test name="ValidLoginFlow">
        <classes>
            <class name="com.sf.tests.ValidLoginTest"/>
        </classes>
    </test>

    <test name="InvalidLoginFlow">
        <classes>
            <class name="com.sf.tests.InvalidLoginTest"/>
        </classes>
    </test>

</suite>
