<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST-Assured API Test Suite" thread-count="1" parallel="false">
    <test name="Auth API Tests">
        <classes>
            <class name="com.restassured.tests.AuthAPITest">
                <methods>
                    <include name="testValidAuthCredentials" />
                    <include name="testInvalidUsername" />
                    <include name="testInvalidPassword" />
                    <include name="testMissingUsername" />
                    <include name="testMissingPassword" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Health API Tests">
        <classes>
            <class name="com.restassured.tests.HealthAPITest">
                <methods>
                    <include name="testRequestTimeoutError" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
